extends base.pug

block scripts 
    scripts(src='/jquery.js')
block style 
    style
        include ../static/style.css 
        include ../static/about.css

block content 
    section#about
        h1 About Us 
        div#content
        P Our Dance Academy is the best dance academy we have 5 batches for dancing.dolor sit amet, consectetur adipisicing elit. Eius harum maxime, ipsa at inventore adipisci sunt sit, voluptate quasi atque exercitationem officia, accusamus blanditiis asperiores suscipit perspiciatis cupiditate dolor. Omnis, minima similique ab nam amet voluptatum nisi aut commodi nihil quam! Repellat quibusdam nisi fugiat obcaecati, voluptates ut odit libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis id, voluptatibus animi nihil aliquid cum facere molestiae tenetur aperiam asperiores neque eius voluptatem et quisquam, facilis iure velit quas iste fuga soluta assumenda reprehenderit eligendi blanditiis. Delectus soluta voluptas reprehenderit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque iusto, explicabo ipsum magnam aut consequatur nihil earum velit cum ab recusandae vero possimus? Beatae quod corporis officia distinctio corrupti facilis quo ullam impedit quis tempore? Eum, quasi doloribus quibusdam vitae minima consequuntur eaque consectetur, aliquid iusto a dolore esse omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, est aspernatur modi possimus accusantium, quod reiciendis quia veritatis impedit aut, consectetur eum ab id ut! Aut nisi at et praesentium deserunt iure, earum minus corporis quo delectus voluptatem saepe, cupiditate numquam quibusdam fuga quos pariatur dolorem adipisci maiores perspiciatis excepturi porro nesciunt quae. Sunt cumque nam tenetur consequuntur impedit quia doloribus laborum animi recusandae cupiditate deleniti suscipit quae, mollitia nisi sequi esse iste accusamus omnis maiores. Esse repudiandae consequuntur earum corrupti tenetur, architecto dolorem nesciunt optio nemo adipisci maiores ullam sint obcaecati laborum placeat sunt unde, doloremque magni voluptas repellat.
         
    section#Team 
        h1 Our Team 
        div.card
           h3 VERTIKA JHA
           div.card-box
                div.card-img 
                    img(src="/static/image/team1.jpg")
                div.card-content
                    p She is super dancer in hip pop and also good in solo donce.  
        div.card
           h3 AKVIRA SHARMA
           div.card-box
                div.card-img 
                    img(src="/static/image/team2.jpg")
                div.card-content
                     p She is dancer and also teach the trainer and get the award for her talent.
        div.card
           h3 Malavika Sarukkai
           div.card-box
                div.card-img 
                    img(src="/static/image/team3.jpg")
                div.card-content
                     p She is best trainer of Bharatnataym in our team. 
        div.card
           h3 SHUSANT KHATRI
           div.card-box
                div.card-img 
                    img(src="/static/image/team4.jpg")
                div.card-content
                     p He is best dancer trainer in our team.He is also winner of dance super star.He is master of break dance.
        div.card
           h3 HARDIK RAWAT
           div.card-box
                div.card-img 
                    img(src="/static/image/team5.jpg")
                div.card-content
                     p He is good trainer in our team.He has extraordinory talent in dancing.  
        div.card
           h3 MOHAN ROY
           div.card-box
                div.card-img 
                    img(src="/static/image/team6.jpg")
                div.card-content
                     p   He is good trainer in our team.He has extraordinory talent in dancing. He is master of break dance.                                     