doctype html 
html
  head
    title Neeshu dance acadamy
    block scripts
    block style 
        
  body  
    nav#navbar
            ul 
                div#logo
                    img(src="/static/image/Logo.png") 
                li #[a(href='/') Home]
                li #[a(href='/about') About] 
                li #[a(href='/services') Services]
                li #[a(href='/contact') Contact Us]

    block content
    footer#footer 
        | Copyright © 2022 NeeshuDance Academy.com | All rights reserved