extends base.pug
block scripts 
    scripts(src='/jquery.js')
block style 
    style
        include ../static/style.css 
        include ../static/services.css
block content 
    section#Services
        h1 Our Services
        div.dance 
            h3 Dance Classes in Schools 
            P We offer multiple dance related services to Schools in many cities. From regular dance classes, annual day dance themes to creating award wining dance acts by auditioning and creating dance groups.          
        div.dance 
            h3 Corporate Dance
            P Team building and employee happiness through dance and fitness by Neeshu Dance Academy it is most renowned dance company for corporate workshops.
        div.dance
            h3 Workshops and Masterclasses
            P Workshop and Masterclasses by Professional Dancers We regularly organise workshops with top professional National and International dance instructors to give our students the opportunity to learn new styles and techniques. These workshops are usually very well priced with the intent of getting our students the exposure. Masterclasses are of longer duration with the intent of performing a dance sequence in public and recording a high definition video.
        div.dance 
            h3 Namaste India Workshop 
            p It is for Foreigners Rated Excellent on TripAdvisor, these workshops are designed to make everlasting memories for visiting guests.
        div.dance 
            P Dance Teaching for Weddings, Sangeet Ceremonies and Ladies Night for the Whole Family.
    section#transport 
        h1 Transport Facility 
        div.facility 
            img(src="static/image/Transport.jpg")
    section#canteen
        h1 Canteen Facility
        div.canteens
            img(src="static/image/canteen.jpeg") 


                